{% set resetUrl = url('account:reset-password', {'hash': user.resetPasswords|last.hash}) %}
<div>
    <p>
        <p>Hi {{ user.detail.firstname ?? user.getDetail().getEmail() ?? user.getIdentity() }},</p>
    </p>

    <p>
        Someone requested a password reset for this account: {{ user.getDetail().getEmail() }}<br />
        If you did not make this request, just ignore this email - no changes have been made to your account yet.
    </p>

    <p>
        Otherwise, you can reset your password by clicking on the link below:<br />
        <a href="{{ resetUrl }}" target="_blank">{{ resetUrl }}</a>
    </p>

    <p>
        Thanks,<br />
        The {{ config.application.name }} Team
    </p>
</div>