{% set resetUrl = url('account.modify-password', {'hash': user.resetPasswords|last.hash}) %}
<div>

    <p>Hi {{ user.detail.firstname ?? user.identity }},</p>

    <p>
        Someone requested a password reset for this account: {{ user.detail.email ?? user.identity }}<br />
        If you did not make this request, just ignore this email - no changes have been made to your account yet.
    </p>

    <p>
        Otherwise, you can reset your password by copying the link below to the "Modify my password" PATCH endpoint in Postman:<br />
        <a href="{{ resetUrl }}" target="_blank">{{ resetUrl }}</a>
    </p>

    <p>
        Thanks,<br />
        The {{ config.application.name }} Team
    </p>
</div>
